#include <windows.h>
#include <ntverp.h>

#ifdef BUILD_SRV
1       BINK    DISCARDABLE        "00010.pub"
2       BINK    DISCARDABLE        "00019.pub"
#endif

#ifdef BUILD_DDK
1       BINK    DISCARDABLE        "00008.pub"
2       BINK    DISCARDABLE        "00009.pub"
#endif

#ifdef BUILD_PRO
1       BINK    DISCARDABLE        "00044.pub"
2       BINK    DISCARDABLE        "00045.pub"
#endif

#ifdef BUILD_PER
1       BINK    DISCARDABLE        "00042.pub"
2       BINK    DISCARDABLE        "00043.pub"
#endif

#ifdef BUILD_TRIAL
1	BINK	DISCARDABLE        "00000.pub"
2	BINK	DISCARDABLE        "00001.pub"
#endif

#ifdef BUILD_VOL
1	BINK	DISCARDABLE        "00046.pub"
2	BINK	DISCARDABLE        "00047.pub"
#endif

#ifdef BUILD_EVAL
1	BINK	DISCARDABLE        "00040.pub"
2	BINK	DISCARDABLE        "00041.pub"
#endif

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Pid3.0 generation"
#define VER_INTERNALNAME_STR        "pidgen.dll"
#define VER_ORIGINALFILENAME_STR    "pidgen.dll"

#include "common.ver"

